<% @page_title = "管理者/ランク詳細ページ" %>

<h2>ランク編集</h2>

<%= render "rank_form" %>

<%= button_to "削除", admins_rank_path, method: :delete %>

<% @rank.lessons.each do |lesson| %>
  <%= link_to admins_lesson_path(lesson.id) do %>
	<% if lesson.image? %>
      <%= image_tag lesson.image.url, width: 300, heith: 200 %>
    <% end %>
	<%= lesson.rank.name %>
	<%= lesson.name %>
	<%= detailed_time(lesson.time) %>
  <% end %>
<% end %>

