<% @page_title = "管理者/レッスンページ" %>

<h1 class="page-header">レッスン一覧ページ</h1>
<h3 class="page-header"><%= link_to "レッスン追加ページへ", new_admins_lesson_path %></h3>

<div class="row">
  <div class="col-sm-12">
  	<table class="table table-hover table-striped">
  	  <tr>
  	  	<th>カテゴリー</th>
  	  	<th>レッスン名</th>
  	  	<th class="text-center">総受講回数</th>
        <th class="text-center">公開ステータス</th>
  	  </tr>
      <% @lessons.each do |lesson| %>
        <% number_of_attend = Attend.where(lesson_id: lesson.id).count %>
        <tr>
          <% if lesson.category %>
            <td><%= lesson.category.name %></td>
          <% else %>
            <td class="text-muted">カテゴリー編集中</td>
          <% end %>
          <td><%= link_to lesson.name, admins_lesson_path(lesson.id) %></td>
          <td class="text-center"><%= number_of_attend %></td>
          <td class="text-center"><%= lesson.status %></td>
        </tr>
      <% end %>
	  </table>
    <%= paginate @lessons %>
  </div>
</div>