<% @page_title = "管理者/レッスン詳細ページ" %>

<h2>レッスン詳細ページ</h2>

<%= @lesson.rank.name %>
<%= @lesson.name %>
<%= @lesson.time %>
<%= @lesson.image %>
<%= @lesson.description %>

<%= link_to "編集ページへ", edit_admins_lesson_path %>