<% @page_title = "学習履歴ページ" %>

<div class="row visible-xs">
  <div class="col-md-3">
    <%= render "mypage_tab" %>
  </div>
  <div class="col-md-9">
    <h3 class="page-header">学習時間の履歴</h3>
    <div class="row">
      <div class="chart-container col-sm-6">
        <canvas id="mobiletimeChart" class="canvas-chart" width="240" height="180"></canvas>
        <%= render "mobile_time_chart" %>
        <!-- TODO: 下記、canvas内に書き込む -->
        <div class="chartitem-container">
          <p class="text-muted"><span>達成率：</span><%= number_to_percentage(@learning_time / current_user.target_time.to_f * 100, precision: 0) %></p>
          <p class="text-muted"><span>実績：</span><%= rough_time(@learning_time) %></p>
          <p class="text-muted"><%= render 'target_time_form', user: @user %></p>
        </div>
      </div>

      <div class="chart-container col-sm-6">
        <canvas id="mobilehistoryChart" class="canvas-chart" width="240" height="180"></canvas>
        <%= render "mobile_recent_time_chart" %>
        <div class="chartitem-container">
          <p class="text-muted"><span>今週：</span><%= rough_time(@learning_time) %></p>
          <p class="text-muted"><span>1週間前：</span><%= rough_time(@learning_time_before_two_weeks) %></p>
          <p class="text-muted"><span>2週間前：</span><%= rough_time(@learning_time_before_three_weeks) %></p>
        </div>
      </div>
    </div>


    <div class="row">
      <h3 class="page-header">学習カテゴリーの履歴</h3>
    </div>
    <% if current_user.category %>
      <div class="row thumbnail">
        <div class="col-md-offset-1 col-md-10 col-md-offset-1">
          <h3><%= current_user.category.name %><small> / 学習中のカテゴリー</small></h3>
          <% current_user.category.lessons.each do |lesson| %>
            <% attended_lesson = Attend.find_by(user_id: current_user.id, lesson_id: lesson.id) %>
            <table class="table table-hover table-condensed">
              <% if attended_lesson %>
                <tr>
                  <td>
                    <span class="glyphicon glyphicon-ok-circle icon" style="color: #0080ff;"></span>
                    <%= link_to lesson.name, lesson_path(lesson.id) %>
                    <p><%= attended_lesson.created_at.to_date.strftime("%Y/%m/%d") %></p>
                  </td>
                </tr>
              <% elsif lesson.status == "公開停止中" %>
                <tr>
                  <td>
                    <span class="glyphicon glyphicon-record icon" style="color: #b8b8b8;"></span>
                    <%= link_to lesson.name, lesson_path(lesson.id) %>
                    <p class="text-danger"><%= "公開停止中" %></p>
                  </td>
                </tr>
              <% else %>
                <tr>
                  <td>
                    <span class="glyphicon glyphicon-record icon" style="color: #b8b8b8;"></span>
                    <%= link_to lesson.name, lesson_path(lesson.id) %>
                    <p><%= "未視聴" %></p>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-md-offset-1">
          <% @unselected_categories.each_with_index do |category, i| %>
            <h3 class="page-header"><a class="glyphicon glyphicon-download acdn-icon" data-toggle="collapse" data-target="#mobile-acdn<%= i %>"></a>
              <%= category.name %></h3>
            <div id="mobile-acdn<%= i %>" class="collapse">
              <% category.lessons.each do |lesson| %>
                <% attended_lesson = Attend.find_by(user_id: current_user.id, lesson_id: lesson.id) %>
                <table class="table table-hover table-condensed">
                  <% if attended_lesson %>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-ok-circle icon" style="color: #0080ff;"></span>
                        <%= link_to lesson.name, lesson_path(lesson.id) %>
                        <p><%= attended_lesson.created_at.to_date.strftime("%Y/%m/%d") %></p>
                      </td>
                    </tr>
                  <% elsif lesson.status == "公開停止中" %>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-record icon" style="color: #b8b8b8;"></span>
                        <%= link_to lesson.name, lesson_path(lesson.id) %>
                        <p class="text-danger"><%= "公開停止中" %></p>
                      </td>
                    </tr>
                  <% else %>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-record icon" style="color: #b8b8b8;"></span>
                        <%= link_to lesson.name, lesson_path(lesson.id) %>
                        <p><%= "未視聴" %></p>
                      </td>
                    </tr>
                  <% end %>
                </table>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

    <% else %>
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-md-offset-1">
          <% @categories.each_with_index do |category, i| %>
            <h3 class="page-header"><a class="glyphicon glyphicon-download down-icon" data-toggle="collapse" data-target="#mobile-acdn<%= i %>"></a>
              <%= category.name %></h3>
            <div id="mobile-acdn<%= i %>" class="collapse">
              <% category.lessons.each do |lesson| %>
                <% attended_lesson = Attend.find_by(user_id: current_user.id, lesson_id: lesson.id) %>
                <table class="table table-hover table-condensed">
                  <% if attended_lesson %>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-ok-circle icon" style="color: #0080ff;"></span>
                        <%= link_to lesson.name, lesson_path(lesson.id) %>
                        <p><%= attended_lesson.created_at.to_date.strftime("%Y/%m/%d") %></p>
                      </td>
                    </tr>
                  <% elsif lesson.status == "公開停止中" %>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-record icon" style="color: #b8b8b8;"></span>
                        <%= link_to lesson.name, lesson_path(lesson.id) %>
                        <p class="text-danger"><%= "公開停止中" %></p>
                      </td>
                    </tr>
                  <% else %>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-record icon" style="color: #b8b8b8;"></span>
                        <%= link_to lesson.name, lesson_path(lesson.id) %>
                        <p><%= "未視聴" %></p>
                      </td>
                    </tr>
                  <% end %>
                </table>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>