<div class="row">
  <div class="col-sm-12">

    <%= bootstrap_form_for @user do |f| %>

      <%= render 'shared/errors', obj: f.object %>
      <%= f.text_field :last_name, value: @user.last_name %>
      <%= f.text_field :first_name, value:  @user.first_name %>
      <%= f.text_field :last_name_kana, value: @user.last_name_kana %>
      <%= f.text_field :first_name_kana, value:  @user.first_name_kana %>
      <%= f.email_field :email, value: @user.email %>
      <%= f.submit "設定を保存する", class:"btn btn-primary" %>

    <% end %>

  </div>
</div>