<% @page_title = "学習履歴ページ" %>

<h2>学習履歴ページ</h2>

<%= render "mypage_tab" %>

<div class="chart-container">
  <canvas id="timeChart" width="300" height="200"></canvas>
  <%= render 'target_time_form', user: @user %>
</div>

<%= render "time_chart" %>

<div class="chart-container">
  <canvas id="historyChart" width="300" height="200"></canvas>
</div>

<%= render "recent_time_chart" %>

<% if current_user.category %>
<h4>学習中のカテゴリーの履歴</h4>

  <%= @selected_category.name %>

  <% @selected_category.lessons.each do |lesson| %>
    <% attended_lesson = Attend.find_by(user_id: current_user.id, lesson_id: lesson.id) %>
      <% if attended_lesson %>
  	    <%= "⚫️" %>
        <%= link_to lesson.name, lesson_path(lesson.id) %>
        <%= attended_lesson.created_at.to_date.strftime("%Y/%m/%d") %>
      <% else %>
  	    <%= "⚪️" %>
        <%= link_to lesson.name, lesson_path(lesson.id) %>
        <%= "未視聴" %>
      <% end %>
  <% end %>

<br>
<h4>その他のカテゴリーの履歴</h4>

  <% @unselected_categories.each do |category| %>
    <%= category.name %>

    <% category.lessons.each do |lesson| %>
      <% attended_lesson = Attend.find_by(user_id: current_user.id, lesson_id: lesson.id) %>
        <% if attended_lesson %>
          <%= "⚫️" %>
          <%= link_to lesson.name, lesson_path(lesson.id) %>
          <%= attended_lesson.created_at.to_date.strftime("%Y/%m/%d") %>
        <% else %>
  	      <%= "⚪️" %>
          <%= link_to lesson.name, lesson_path(lesson.id) %>
          <%= "未視聴" %>
        <% end %>
    <% end %>
  <% end %>

<% else %>

  <% @categories.each do |category| %>
    <%= category.name %>

    <% category.lessons.each do |lesson| %>
          <%= "⚪️" %>
          <%= link_to lesson.name, lesson_path(lesson.id) %>
          <%= "未視聴" %>
    <% end %>
  <% end %>

<% end %>