<% @page_title = "学習履歴ページ" %>

<h1 class="headline">マイページ</h1>

<div class="row">
  <div class="col-sm-3">
    <%= render "mypage_tab" %>
  </div>
  <div class="col-sm-9">
    <h3 class="page-header">学習時間の履歴</h3>
    <div class="row">
      <div class="chart-container col-sm-6">
        <canvas id="timeChart" width="300" height="200"></canvas>
        <%= render "time_chart" %>
        <%= render 'target_time_form', user: @user %>
      </div>

      <div class="chart-container col-sm-6">
        <canvas id="historyChart" width="300" height="200"></canvas>
        <%= render "recent_time_chart" %>
      </div>
    </div>

    <div class="row">
      <div class="history-container col-sm-12">
        <h3 class="page-header">学習カテゴリーの履歴</h3>
        <% if current_user.category %>
          <h5>学習中のカテゴリー</h5>
          <%= @selected_category.name %>
          <% @selected_category.lessons.each do |lesson| %>
            <% attended_lesson = Attend.find_by(user_id: current_user.id, lesson_id: lesson.id) %>
            <% if attended_lesson %>
  	          <%= "⚫️" %>
              <%= link_to lesson.name, lesson_path(lesson.id) %>
              <%= attended_lesson.created_at.to_date.strftime("%Y/%m/%d") %>
            <% else %>
  	          <%= "⚪️" %>
              <%= link_to lesson.name, lesson_path(lesson.id) %>
              <%= "未視聴" %>
            <% end %>
          <% end %>
      </div>
<br>
      <div class="history-container col-sm-12">
          <% @unselected_categories.each do |category| %>
            <%= category.name %>
            <% category.lessons.each do |lesson| %>
              <% attended_lesson = Attend.find_by(user_id: current_user.id, lesson_id: lesson.id) %>
              <% if attended_lesson %>
                <%= "⚫️" %>
                <%= link_to lesson.name, lesson_path(lesson.id) %>
                <%= attended_lesson.created_at.to_date.strftime("%Y/%m/%d") %>
              <% else %>
  	            <%= "⚪️" %>
                <%= link_to lesson.name, lesson_path(lesson.id) %>
                <%= "未視聴" %>
              <% end %>
            <% end %>
          <% end %>
      </div>
        <% else %>
      <div class="history-container col-sm-12">
          <% @categories.each do |category| %>
            <%= category.name %>
            <% category.lessons.each do |lesson| %>
              <%= "⚪️" %>
              <%= link_to lesson.name, lesson_path(lesson.id) %>
              <%= "未視聴" %>
            <% end %>
          <% end %>
      </div>
        <% end %>
  </div>
</div>