<% @page_title = "ユーザートップページ" %>

<h2>ユーザートップページ</h2>

<div class="chart-container">
  <canvas id="timeChart" width="300" height="200"></canvas>
</div>

<%= render "time_chart" %>

<div class="chart-container">
  <canvas id="lessonChart" width="400" height="300"></canvas>
</div>

<%= render "lesson_chart" %>

<h4>学習中のカテゴリー一覧</h4>
  <% @selected_category.lessons.each do |lesson| %>
    <%= link_to lesson_path(lesson.id) do %>
      <% if lesson.image? %>
        <%= image_tag lesson.image.url, width: 200, heith: 130 %>
      <% end %>
      <%= lesson.rank.name %>
      <%= lesson.name %>
      <%= lesson.display_time %>
    <% end %>
  <% end %>

<h4>新着レッスン一覧</h4>
  <% @new_lessons.each do |lesson| %>
    <%= link_to lesson_path(lesson.id) do %>
      <% if lesson.image? %>
        <%= image_tag lesson.image.url, width: 200, heith: 130 %>
      <% end %>
      <%= lesson.rank.name %>
      <%= lesson.name %>
      <%= lesson.display_time %>
    <% end %>
  <% end %>