<% @page_title = "ユーザートップページ" %>

<div class="row">
  <div class="chart-container col-sm-6">
    <canvas id="timeChart" width="300" height="240"></canvas>
    <%= render "time_chart" %>
    <!-- TODO: 下記、canvas内に書き込む -->
    <p class="chart-item"><%= "目標：#{rough_time(current_user.target_time)}" %></p>
    <p class="chart-item"><%= "実績：#{rough_time(@learning_time)}" %></p>
    <p class="chart-item"><%= "達成率：　　#{number_to_percentage(@learning_time / current_user.target_time.to_f * 100, precision: 0)}" %></p>
  </div>

  <div class="chart-container col-sm-6">
    <canvas id="lessonChart" width="400" height="300"></canvas>
    <%= render "lesson_chart" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3 class="page-header">学習中のカテゴリー一覧</h3>
    <% if current_user.category %>
      <ul class="bxslider">
        <% @selected_category.lessons.each do |lesson| %>
          <li class="slide-item">
          <%= link_to lesson_path(lesson.id) do %>
            <% if lesson.image? %>
              <span class="lesson-image"><%= image_tag lesson.image.url, width: 200, height: 130 %></span>
            <% else %>
              <span class="lesson-image"><%= image_tag "/images/no_image.png", width: 200, height: 130 %></span>
            <% end %>
            <!-- TODO: 下記、jQueryで書き換える -->
            <% if lesson.rank_id == 1 %>
              <span class="label label-info"><%= lesson.rank.name %></span></br>
            <% elsif lesson.rank_id == 2 %>
              <span class="label label-success"><%= lesson.rank.name %></span></br>
            <% else %>
              <span class="label label-danger"><%= lesson.rank.name %></span></br>
            <% end %>
            <%= lesson.name %></br>
            <%= detailed_time(lesson.time) %></br>
          <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h3>現在選択中のカテゴリーはありません</h3>
      <% link_to "カテゴリー選択を選択する", categories_path %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3 class="page-header">新着レッスン一覧</h3>
    <ul class="bxslider">
      <% @new_lessons.each do |lesson| %>
        <li class="slide-item">
        <%= link_to lesson_path(lesson.id) do %>
          <% if lesson.image? %>
            <span class="lesson-image"><%= image_tag lesson.image.url, width: 200, height: 130 %></span>
          <% else %>
            <span class="lesson-image"><%= image_tag "/images/no_image.png", width: 200, height: 130 %></span>
          <% end %>
          <!-- TODO: 下記、jQueryで書き換える -->
          <% if lesson.rank_id == 1 %>
            <span class="label label-info"><%= lesson.rank.name %></span></br>
          <% elsif lesson.rank_id == 2 %>
            <span class="label label-success"><%= lesson.rank.name %></span></br>
          <% else %>
            <span class="label label-danger"><%= lesson.rank.name %></span></br>
          <% end %>
          <%= lesson.name %></br>
          <%= detailed_time(lesson.time) %></br>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>