<% @page_title = "管理者/カテゴリー詳細ページ" %>

<h1 class="page-header">カテゴリー編集ページ</h1>

<div class="row">
  <div class="col-sm-4">
    <%= render "category_form" %>
  </br>
    <%= link_to "削除", admins_category_path, method: :delete, class:"btn btn-danger" %>
  </div>

  <div class="col-sm-8">
    <h3 class="page-header">このカテゴリーのレッスン一覧</h3>
    <div class="row row-eq-height">
      <% @category.lessons.each do |lesson| %>
        <div class="col-sm-5">
          <%= link_to admins_lesson_path(lesson.id) do %>
            <% if lesson.image? %>
              <%= image_tag lesson.image.url, width: 240, height: 170, class:"lesson-image" %>
            <% else %>
              <%= image_tag "/images/no_image.png", width: 240, height: 170, class:"lesson-image" %>
            <% end %>
          <% end %>
        </div>
        <div class="col-sm-7">
           <h3><%= link_to lesson.name, admins_lesson_path(lesson.id) %></h3>
              <% if lesson.rank_id == 1 %>
                <span class="label label-info"><%= lesson.rank.name %></span></br>
              <% elsif lesson.rank_id == 2 %>
                <span class="label label-success"><%= lesson.rank.name %></span></br>
              <% else %>
                <span class="label label-danger"><%= lesson.rank.name %></span></br>
              <% end %>
            <h5 class="text-muted page-header time-text"><%= detailed_time(lesson.time) %></h5>
            <h5><%= lesson.description %></h5>
        </div>
      <% end %>
    </div>
  </div>
</div>