<% @page_title = "管理者/カテゴリー詳細ページ" %>

<h1 class="headline">カテゴリー編集ページ</h1>

<div class="row">
  <div class="col-sm-4">
    <%= render "category_form" %>
    <%= button_to "削除", admins_category_path, method: :delete %>
  </div>

  <div class="col-sm-8">
    <% @category.lessons.each do |lesson| %>
      <%= link_to admins_lesson_path(lesson.id) do %>
	    <% if lesson.image? %>
          <%= image_tag lesson.image.url, width: 300, heith: 200 %>
        <% end %>
		<%= lesson.rank.name %>
		<%= lesson.name %>
		<%= detailed_time(lesson.time) %>
  	  <% end %>
	<% end %>
  </div>
</div>