<% @page_title = "管理者/カテゴリー詳細ページ" %>

<h2>カテゴリー編集</h2>

<%= render "category_form" %>

<%= button_to "削除", admins_category_path, method: :delete %>

<% @category.lessons.each do |lesson| %>
  <%= link_to admins_lesson_path(lesson.id) do %>
	<% if lesson.image? %>
    <%= image_tag lesson.image.thumb.url %>
  <% end %>
	<%= lesson.rank.name %>
	<%= lesson.name %>
	<%= lesson.time %>
  <!-- XXX: 秒数表示を分数表示に要変更 -->
  <% end %>
<% end %>
