<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand"><%= image_tag "logo.png", size: "250x50"%></span>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= search_form_for @search, url: search_lessons_path, html: {class:"navbar-form search-box"} do |f| %>
          <%= f.text_field :name_or_description_or_rank_name_cont, placeholder: "キーワードでレッスンを検索", required: true, size: "30",class:"form-control" %>
          <%= f.submit "検索", class:"btn btn-primary" %>
        <% end %>
      </li>

  	  <% if admin_signed_in? %>
  	    <li class="nav-item">
          <%= link_to admins_lessons_path do %>
            <span class="glyphicon glyphicon-book"></span>
            <span>Lesson</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admins_categories_path do %>
            <span class="glyphicon glyphicon-list"></span>
            <span>Category</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admins_ranks_path do %>
            <span class="glyphicon glyphicon-tags"></span>
            <span>Rank</span>
          <% end %>
        </li>
  	    <li class="nav-item">
          <%= link_to admins_users_path do %>
            <span class="glyphicon glyphicon-user"></span>
            <span>User</span>
          <% end %>
        </li>
  	    <li class="nav-item">
          <%= link_to destroy_admin_session_path, method: :delete do %>
            <span class="glyphicon glyphicon-log-out"></span>
            <span>Logout</span>
          <% end %>
        </li>

      <% elsif user_signed_in? %>
        <li class="nav-item">
          <%= link_to top_users_path do %>
            <span class="glyphicon glyphicon-home"></span>
            <span>TopPage</span>
          <% end %>
        </li>
  	    <li class="nav-item">
          <%= link_to user_path(current_user.id) do %>
            <span class="glyphicon glyphicon-user"></span>
            <span>MyPage</span>
          <% end %>
        </li>
  	    <li class="nav-item">
          <%= link_to categories_path do %>
            <span class="glyphicon glyphicon-book"></span>
            <span>Lesson</span>
          <% end %>
        </li>
  	    <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <span class="glyphicon glyphicon-log-out"></span>
            <span>Logout</span>
          <% end %>
        </li>

      <% else %>
  	    <li class="nav-item">
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-home"></span>
            <span>TopPage</span>
          <% end %>
        </li>
  	    <li class="nav-item">
          <%= link_to about_path do %>
            <span class="glyphicon glyphicon-hand-up"></span>
            <span>About</span>
          <% end %>
        </li>
  	    <li class="nav-item">
          <%= link_to categories_path do %>
            <span class="glyphicon glyphicon-book"></span>
            <span>Lesson</span>
          <% end %>
        </li>
  	    <li class="nav-item">
          <%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in"></span>
            <span>Login</span>
          <% end %>
        </li>
  	    <li class="nav-item">
          <%= link_to new_user_registration_path do %>
            <span class="glyphicon glyphicon-pencil"></span>
            <span>Signup</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>