<%= form_for @lesson, url: admins_lessons_path do |f| %>

  <%= f.label "ファイル名" %>
  <%= f.text_field :name, required: true %>

  <%= f.label "カテゴリー" %>
  <%= f.collection_select :category_id, Category.all, :id, :name, required: true %>

  <%= f.label "ランク" %>
  <%= f.collection_select :rank_id, Rank.all, :id, :name, required: true %>

  <%= f.label "画像アップロード" %>
  <%= f.file_field :image %>

<p>動画アップロード</p>

  <%= f.label "時間" %>
  <%= f.number_field :time, required: true %>

  <%= f.label "説明文" %>
  <%= f.text_field :description, required: true %>

  <%= f.label "公開ステータス" %>
  <%= f.select :status, Lesson.statuses.keys.to_a, {} %>

  <%= f.submit "登録" %>

<% end %>