<%= form_for @lesson, url: admins_lessons_path do |f| %>

<h4>レッスン名</h4>
  <%= f.text_field :name, required: true %>
<h4>カテゴリー</h4>
  <%= f.collection_select :category_id, Category.all, :id, :name, required: true %>
<h4>ランク</h4>
  <%= f.collection_select :rank_id, Rank.all, :id, :name, required: true %>
<p>画像アップロード</p>
<p>動画アップロード</p>
<h4>説明文</h4>
  <%= f.text_field :description, required: true %>
<h4>時間</h4>
  <%= f.number_field :time, required: true %>
<h4>公開ステータス</h4>
  <%= f.select :status, Lesson.statuses.keys.to_a, {} %>

<%= f.submit "登録" %>

<% end %>