<% @page_title = "管理者/ログインページ" %>

<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <h1 class="headline">管理者ログインページ</h1>

    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <h3 class="page-header">テスト管理者</h3>
    <p>メールアドレス：admins@admins.com</p>
    <p>パスワード：admins</p>
  </div>
</div>