<% @page_title = "レッスン詳細ページ" %>

<h3 class="page-header">レッスン詳細</h3>

<div class="row row-eq-height">
  <div class="col-sm-4">
    <% if @lesson.image? %>
      <%= image_tag @lesson.image.url, width: 300, height: 200, class:"lesson-image" %>
    <% else %>
      <%= image_tag "/images/no_image.png", width: 240, height: 170, class:"lesson-image" %>
    <% end %>
  </div>
  <div class="col-sm-8">
    <h3><%= @lesson.name %></h3>
    <% if @lesson.rank %>
      <% if @lesson.rank_id == 1 %>
        <span class="label label-info"><%= @lesson.rank.name %></span></br>
      <% elsif @lesson.rank_id == 2 %>
        <span class="label label-success"><%= @lesson.rank.name %></span></br>
      <% else %>
        <span class="label label-danger"><%= @lesson.rank.name %></span></br>
      <% end %>
    <% end %>
    <h5 class="text-muted page-header time-text"><%= detailed_time(@lesson.time) %></h5>
    <h5><%= @lesson.description %></h5>
    <%= link_to "視聴ページへ", slide_lesson_path, class:"btn btn-primary pull-right slide-item" %>
    <%= link_to "レッスン一覧へ", categories_path, class:"btn btn-info pull-right slide-item" %>
  </div>
</div>