<% @page_title = "レッスン詳細ページ" %>

<h2>レッスン詳細ページ</h2>

<%= @lesson.rank.name %>
<%= @lesson.name %>
<%= @lesson.time %>
<%= @lesson.image %>

<%= link_to "視聴ページへ", slide_lesson_path %>

<%= @lesson.description %>