<% @page_title = "レッスン詳細ページ" %>

<h2>レッスン詳細ページ</h2>

<%= @lesson.rank.name %>
<%= @lesson.name %>
<%= @lesson.time %>
<% if @lesson.image? %>
  <%= image_tag @lesson.image.thumb.url %>
<% end %>

<%= link_to "視聴ページへ", slide_lesson_path %>

<%= @lesson.description %>