<% @page_title = "レッスン一覧" %>

<h1 class="headline">カテゴリー別レッスン一覧</h1>

<div class="row">
  <div class="col-sm-3">
    <%= render "categories_tab" %>
  </div>

  <div class="col-sm-9">
    <% @lessons.each do |lesson| %>
      <%= link_to lesson_path(lesson.id) do %>
	  <% if lesson.image? %>
        <%= image_tag lesson.image.url, width: 300, heith: 200 %>
      <% end %>
	  <%= lesson.rank.name %>
	  <%= lesson.name %>
	  <%= detailed_time(lesson.time) %>
      <% end %>
    <% end %>
  </div>
</div>