<% @page_title = "レッスン一覧" %>

<h2>カテゴリー別レッスン一覧</h2>

<%= render "categories_tab" %>

<% @lessons.each do |lesson| %>
  <%= link_to lesson_path(lesson.id) do %>
	<% if lesson.image? %>
      <%= image_tag lesson.image.thumb.url %>
    <% end %>
	<%= lesson.rank.name %>
	<%= lesson.name %>
	<%= lesson.time %>
  <!-- 秒数表示を分数表示に要変更 -->
  <% end %>
<% end %>